@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Lato&display=swap');
a {
    color: inherit;
    text-decoration: inherit;
}

body {
    font-family: 'Lato';
    text-align: center;
    list-style: none;
}

.navigation img {
    width: 30rem;
}

.navigation {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.nav-container {
    display: flex;
}

.nav-items {
    margin: 1rem 3rem;
    font-size: 2rem;
}

.btn-outline-light {
    padding: 0rem 2rem;
}

h1 {
    font-family: 'Calligraffitti';
    color: white;
    font-size: 9rem;
    transform: rotate(351deg);
    filter: drop-shadow(0 3px 6px #0000004D);
}

h2 {
    margin: 2rem;
}

header {
    height: 100vh;
    background-image: url(/ressources/Photo\ montagnes.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
}

.work-btn {
    background-color: #3693D6;
    padding: 1rem 4rem;
    border-radius: 50px;
    color: white;
}

.first-row {
    display: flex;
}

.second-row {
    display: flex;
}

.work div:nth-child(1) {
    border: red 2px solid;
}

.work figure {
    margin: 2rem;
    object-fit: cover;
}

.work {
    color: #3693D6;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about-me p {
    margin: 0 5rem;
}

.about-me {
    background-color: #3693D6;
    padding: 5rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial img {
    margin: auto;
}

.testimonial {
    padding: 5rem;
    color: #3693D6;
}

footer div {
    text-align: left;
}

footer {
    background-color: #3693D6;
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo {
    display: flex;
    flex-direction: row;
    margin: auto 0;
}

.logo img {
    width: 3rem;
    height: 3rem;
    margin: 0 1rem;
}

.nav-link {
    color: white;
}


/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up) */

@media (max-width: 576px) {}


/* // Medium devices (tablets, 768px and up) */

@media (max-width: 768px) {
    .nav-container {
        display: none;
    }
}


/* // Large devices (desktops, 992px and up) */

@media (max-width: 992px) {}


/* // X-Large devices (large desktops, 1200px and up) */

@media (max-width: 1200px) {}


/* // XX-Large devices (larger desktops, 1400px and up) */

@media (max-width: 1400px) {}